page-register {

    $transparent-white: rgba(255, 255, 255, .6); //HEADER TRANSPARENTE
    
  .toolbar-content,
  span {
    color: white; //ICONOS BLANCOS
  }
  .toolbar-background,
  ion-navbar,
  ion-header {
    background: transparent !important;
    background-color: transparent !important;
  }
  .header-md::after,
  .toolbar-background-ios {
    background-image: none;
    border-bottom: 0;
  }
 
  // Fullscreen animated rainbow gradient
  ion-content {
    background-size: cover;
    background-repeat: no-repeat;
    border-color: transparent;
  }

  // Content
  .scroll-content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  // Input items
  ion-item {
    border-radius: 3px !important;
    padding-left: 10px !important;
    margin-bottom: 15px !important;
    margin-bottom: 10px;
    color: #fff !important;
    background-color: rgba(255, 255, 255, .2) !important;
    font-size: 0.9em;
  }
   ::-webkit-input-placeholder {
    color: white !important;
  }
  .item-inner {
    border-bottom: 0 !important;
    box-shadow: none !important;
  }
  // --
  .login-button {
    text-transform: none;
    border-radius: 3px !important;
    margin-top: 25px;
  }
  // Facebook icon
  ion-icon {
    padding-right: 10px;
    font-size: 2.2rem;
  }
  // HR with text in the middle effect
  
  .tint {
    position: relative;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    -moz-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
  }

   .tint:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,black,black);
	opacity: .6; 
  }

.myfont{
      width: 100%;
      text-align: center;
      color: white;
      font-size: 40px;
      padding-bottom: 10px;
      font-family: 'sp-title' !important;
  }

}
