page-login2 {
    $transparent-white: rgba(255, 255, 255, .6); //HEADER TRANSPARENTE
    
    .scroll-content {
    overflow: hidden;
  }
  
  .toolbar-content,
  span {
    color: white; //ICONOS BLANCOS
  }
  .toolbar-background,
  ion-navbar,
  ion-header {
    background: transparent !important;
    background-color: transparent !important;
  }
  .header-md::after,
  .toolbar-background-ios {
    background-image: none;
    border-bottom: 0;
  }
  // Footer
  ion-footer {
    height: 47px;
  }
  .footer {
    text-align: center;
    background: #292729;
    //background: rgba(255, 255, 255, .3);
    min-height: 47px;

  }
  .footer-md::before {
    border-top: 1px solid $transparent-white;
    background-image: none;
  }
  // Fullscreen animated rainbow gradient
  ion-content {

  }

  // Content
  .scroll-content {

  }

  // Input items
  ion-item {
    border-radius: 3px !important;
    padding-left: 10px !important;
    margin-bottom: 15px !important;
    margin-bottom: 10px;
    color: #fff !important;
    background-color: rgba(255, 255, 255, .2) !important;
    font-size: 0.9em;
  }
   ::-webkit-input-placeholder {
    color: white !important;
  }
  .item-inner {
    border-bottom: 0 !important;
    box-shadow: none !important;
  }
  // --
  .login-button {
    text-transform: none;
    border-radius: 3px !important;
  }

  .m{
        margin-top: 20px;
    }

  // Facebook icon
  ion-icon {
    padding-right: 10px;
    font-size: 2.2rem;
  }
  // HR with text in the middle effect
  .strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
  }
  .strike>span {
    position: relative;
    display: inline-block;
    font-weight: bold;
  }
  .strike>span:before,
  .strike>span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: $transparent-white;
  }
  .strike>span:before {
    right: 100%;
    margin-right: 15px;
  }
  .strike>span:after {
    left: 100%;
    margin-left: 15px;
  }

  .tint {
    position: relative;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    -moz-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
  }

   .tint:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,black,black);
	opacity: .4; 
  }

  .slide-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
  }
  .slide-zoom {
    background: rgba(32, 32, 32, 0.2) !important;
    height: 100%;
  }
  ion-slides {
    height: 100vh;
  }

  .myfont{
      width: 100%;
      text-align: center;
      color: white;
      font-size: 58px;
   
      font-family: 'sp-title' !important;
  }

}
